body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

li a:hover:not(.active) {
  background-color: gray;
  color: white;
}
.active {
  background-color: gray;
  color: white;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('../images/2.jpg');
  min-height: 60%;
}

.menu {
  display: none;
}
section {
  margin-left: 20px;
  font-size: 20px;
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  width: 100%;
  margin-bottom: 20px;
  }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}